<aside>
  <div class="ntglogo"><img src="../assets/images/NTG-logo.png" alt="logo"></div>
  <ul>
    <li routerLinkActive="active-link"><img src="../assets/images/dashboard.png" width="20px" height="20px"
        alt="logo"><a routerLink="/dashboard">Dashboard</a></li>
    <li routerLinkActive="active-link"><img src="../assets/images/course.png" width="20px" height="20px" alt="logo"><a
        routerLink="/courses">Courses</a></li>
    <li routerLinkActive="active-link"><img src="../assets/images/assignment.png" width="20px" height="20px"
        alt="logo"><a routerLink="/assignments">Assignments</a></li>
    <li routerLinkActive="active-link"><img src="../assets/images/projects.png" width="20px" height="20px" alt="logo"><a
        routerLink="/projects">Projects</a></li>
    <li routerLinkActive="active-link"><img src="../assets/images/schedule.png" width="20px" height="20px" alt="logo"><a
        routerLink="/schedule">Schedule</a></li>
    <li routerLinkActive="active-link"><img src="../assets/images/marks.png" width="20px" height="20px" alt="logo"><a
        routerLink="/marks">Marks</a></li>
    <li routerLinkActive="active-link"><img src="../assets/images/attendance.png" width="20px" height="20px"
        alt="logo"><a routerLink="/attendance">Attendance</a></li>
    <li routerLinkActive="active-link"><img src="../assets/images/support.png" width="20px" height="20px" alt="logo"><a
        routerLink="/support">Support</a></li>
    <li routerLinkActive="active-link"><img src="../assets/images/setting.png" width="20px" height="20px" alt="logo"><a
        routerLink="/settings">Settings</a></li>
    <li routerLinkActive="active-link"><img src="../assets/images/notification.png" width="20px" height="20px"
        alt="logo"><a routerLink="/notifications">Notifications</a></li>
    <li routerLinkActive="active-link"><img src="../assets/images/user.png" width="20px" height="20px" alt="logo"><a
        routerLink="/profile">Profile</a></li>
  </ul>
</aside>