/* :host{
    display: block;
    min-height: 100vh;
} */

/* ================= Main Container ================= */

.attendance-container{
    position: relative;
    width:90%;
    margin:40px;
}

/* ================= Date Header ================= */

.date-header{
    position: absolute;
    top: -22px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
    background: #E6E6ED;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 10px;
    border: #8e8e938c solid 1px;
}

.nav-btn{
    width:30px;
    height:30px;
    border:none;
    border-radius:8px;
    background:#fff;
    cursor:pointer;
    transition:.25s;
    border: #8E8E93 1px solid;
}

.nav-btn:hover{
    background:#620000;
    color:#fff;
}

.date-box{
    background:#fff;
    border-radius:8px;
    font-weight:600;
    color:#05172F;
    min-width:100px;
    height: 30px;
    text-align:center;
    border: #8E8E93 1px solid;
}

/* ================= Overview Card ================= */

.overview-card{
    background:#fff;
    border-radius:18px;
    padding:25px;
    box-shadow:0 8px 25px rgba(0,0,0,.06);
    border:1px solid #8e8e9370;
}

.overview-card h2{
    font-size:16px;
    color:#05172F;
    margin-bottom:0px;
    padding-top: 10px;
}

.overview-card p{
    color:#05172fb9;
    margin-bottom:10px;
    font-size:14px;
}

/* ================= Statistics ================= */

.stats{
    display:grid;
    grid-template-columns:repeat(5,1fr);
    gap:20px;
}

.stat-card{
    padding:10px 5px;
    border-radius:14px;
    text-align:center;
    border:1px solid;
    transition:.3s;
    box-shadow:0 4px 10px rgba(0,0,0,.08);
}

.stat-card:hover{
    transform:translateY(-5px);
}

.stat-card h3{
    font-size:15px;
    font-weight:500;
}

.stat-card h1{
    font-size:18px;
    font-weight:700;
}

/* Colors */
.total{
    background:#e9f2ff;
}

.total h3,
.total h1{
    color:#05172F;
}

.present{
    background:#c0f9d598;
    border: 1px solid #1d8c48;
}

.present h3,
.present h1{
    color:#1d8c48;
}

.absent{
    background:#EFC6C5;
    border: 1px solid #620000a6;
}

.absent h3,
.absent h1{
    color:#620000;
}

.late{
    background:#F9FFA8;
    border: 1px solid #675c0780;
}

.late h3,
.late h1{
    color:#675C07;
}

.attendance{
    background:#F2EBFF;
    border:1px solid #9B7FC9;
}

.attendance h3,
.attendance h1{
    color:#2B0A4D;
}
.permission
{
    background-color: #acacb39f;
    border: #8E8E93 solid 1px;
}
.permission h3,
.permission h1{
color: #343342;
}

/* ================= Chart Card ================= */

.cont{
    width:50%;
    margin-top:10px;
}

.chart-card{
    background:#fff;
    border-radius:18px;
    padding:20px;
    box-shadow:0 8px 25px rgba(0,0,0,.06);
    border:1px solid #8e8e938c;
}
.chart-card h5{
    color: #05172F;
}

/* ================= Responsive ================= */

@media (max-width:1200px){

    .attendance-container{
        width: calc(100vw - 250px);
    }

    .stats{
        grid-template-columns:repeat(3,1fr);
    }
}

@media (max-width:992px){

    .attendance-container{
        width:95%;
        margin:40px auto;
    }

    .stats{
        grid-template-columns:repeat(2,1fr);
    }
}

@media (max-width:600px){

    .stats{
        grid-template-columns:1fr;
    }

    .date-header{
        position:static;
        margin-bottom:20px;
    }

    .overview-card{
        padding-top:25px;
    }
}
