.btn-previous {
    background-color: #001f3f;
    color: #ffffff;
    margin-left: 1100px;
    border: none;
    padding: 12px 25px;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: background 0.3s;
}

.btn-previous:hover {
    background-color: #002d5f;
}