.settings-page{

  width: 100%;
  min-height: 100vh;
  background:#EEEEEE;
  margin-left: 200px;
  padding:0px 40px;

}



/* Header */

.settings-header{

  height:80px;
  background:white;
  display:flex;
  align-items:center;
  gap:20px;
  padding:20px;
  border-radius:4px;
  box-shadow:0 1px 3px #aaa;

}


.settings-header i{

  font-size:32px;

}


.settings-header h2{

  margin:0;
  font-size:22px;

}


.settings-header p{

  margin:3px 0;
  color:#777;
  font-size:13px;

}





/* rows */


.settings-list{

  margin-top:40px;
  width:70%;
  margin-left:100px;
  margin-right:auto;

}


.setting-row{

  height:70px;
  border-bottom:1px solid #999;
  display:flex;
  align-items:center;
  justify-content:space-between;
  cursor:pointer;

}


.left{

  display:flex;
  align-items:center;
  gap:25px;
}


.left i{

  font-size:20px;

  color:#777;

}


.left span{

  font-size:18px;
  font-weight:600;
  color:#444;

}


.right{

  display:flex;
  align-items:center;
  gap:15px;
  font-size:18px;
  color:#555;

}





/* logout */


.logout-btn{

  display:block;
  margin:35px 200px 0 auto;
  width:280px;
  height:60px;
  background:#620000;
  color:white;
  border:none;
  border-radius:10px;
  font-size:26px;
  cursor:pointer;

}


.logout-btn i{

  margin-right:10px;

}