<div class="page">

  <div class="password-card">

    <div class="form-group">
      <label>Current password</label>
      <div class="input-box">
        <span class="icon">⌨</span>
        <input type="password" placeholder="Enter Current Password">
        <span class="eye">👁</span>
      </div>
    </div>


    <div class="form-group">
      <label>New password</label>
      <div class="input-box">
        <span class="icon">⌨</span>
        <input type="password" placeholder="Enter New Password">
        <span class="eye">👁</span>
      </div>
    </div>


    <div class="form-group">
      <label>Confirm new password</label>
      <div class="input-box">
        <span class="icon">⌨</span>
        <input type="password" placeholder="Confirm New Password">
        <span class="eye">👁</span>
      </div>
    </div>


    <button class="update-btn">
      Update Password
    </button>

  </div>


</div>