<app-side-menu></app-side-menu>
<div class="layout">

  <main class="content">

    <div class="header">

      <div class="header-icon">

        <i class="bi bi-journal-check"></i>

      </div>

      <div>

        <h2>My Assignments</h2>

        <p>View and Manage all Your Assignments</p>

      </div>

    </div>



    <div class="assignment-card">
      <table>

        <thead>

          <tr>

            <th>Title</th>
            <th>Status</th>
            <th>Deadline</th>
            <th>Subject</th>

            <th>Action</th>

          </tr>

        </thead>

<tbody>

  <tr *ngFor="let item of assignments">


    <td>{{ item.name }}</td>

    <td>


      <span class="status">
        Graded
      </span>
      <!-- <div class="circle_green"></div> -->
    </td>


    <td>{{ item.deadline | date:'dd MMM yyyy' }}</td>

    <td>
      <span class="subject">
        IT
      </span>
    </td>




    <td>
      <button
        class="view-btn"
        (click)="viewAssignment(item)">
        View
      </button>
    </td>

  </tr>

</tbody>

      </table>

    </div>

  </main>

</div>

