

         <header class="top-header">
                <div class="header-content-wrapper">
                    <div class="header-title">
                        <i class="fa-solid fa-paste"></i>
                        <h1>My Courses</h1>
                    </div>
                    <div class="header-search">
                        <div class="search-box">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <input type="text" placeholder="Search anything...">
                        </div>
                        <div class="notification-badge">
                            <i class="fa-solid fa-bell"></i>
                            <span class="badge">1</span>
                        </div>
                    </div>
                </div>
            </header>

