<div class="header">
  <div class="header-left">
    <div class="header-title-group">
    </div>
    <div class="header-title-group2">
      <h1 class="header-title">Welcome Back!</h1>
      <p class="header-sub">Continue your academic journey</p>
    </div>
  </div>

  <div class="header-right">

    <div class="nav-user">
      <div class="notif-dot" aria-label="Notifications">
        <span aria-hidden="true" routerLink="/notifications"><i class="fa-regular fa-bell"></i></span>
<!--         <span class="notif-badge"></span> -->
      </div>

      <div class="user-info">
        @if (profile()) {
          <span class="user-name">{{ profile()!.fullName }}</span>
          <span class="user-role">{{ profile()!.role | titlecase }}</span>
        } @else {
          <span class="user-name skeleton-text"></span>
          <span class="user-role skeleton-text small"></span>
        }
      </div>
      <a class="avatar" routerLink="/profile">
        {{ getInitials() }}
      </a>
    </div>
  </div>
</div>

