*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#EEEEEE;
}

/* ================= Layout ================= */

.layout{
    display:flex;
    min-height:100vh;
    background:#EEEEEE;
}

/* ================= Main ================= */

.content{
  width: 100%;
}

/* ================= Header ================= */

.header{

    background:#fff;
    display:flex;
    align-items:center;
    gap:18px;
    border-bottom-left-radius:15px;
    padding:21px 30px;
    box-shadow:0 8px 20px rgba(0,0,0,.08);
    margin-bottom:30px;

}
.header h2{

    color:#05172F;
}

.header p{

    color:#64748b;
    font-size:13px;
}

/* ================= Card ================= */

.assignment-card{

    background:#fff;
    border-radius:18px;
    box-shadow:0 8px 20px rgba(0,0,0,.1);
    overflow:hidden;
    margin: 30px  30px;

}

/* ================= Table ================= */

table{

    width:100%;
    border-collapse:collapse;

}

thead{

    background:#05172F;

}

th{

    color:#fff;
    padding:18px;
    text-align:left;
}

td{

    padding:18px;
    border-bottom:1px solid #eee;
}

tbody tr:hover{

    background:#fafafa;

}

/* ================= Status ================= */
/* .circle_green{
  background-color: #3B6D11;
  border-radius: 100%;
  height: 10PX;
  width: 10px;
  position: absolute;
  right: 650px;



} */
.status{

    display:inline-flex;
    align-items:center;
    gap:8px;
    color: green;
    padding:12px 14px;
    background-color: #EAF3DE;
    border-radius:30px;
    font-size:12px;
    font-weight:bold;

}

.status::before{
    background-color: #3B6D11;
    content:"";
    width:8px;
    height:8px;
    border-radius:50%;

}



.submitted{

    background:#fff4d8;
    color:#e08a00;
}

.submitted::before{

    background:#e08a00;
}

.pending{

    background:#e9e9e9;
    color:#555;
}

.pending::before{

    background:#555;
}

/* ================= Subject ================= */

.subject{

    display:inline-block;
    padding:10px 30px;
    border-radius:20px;
    font-size:12px;
        background:#ffe4c4;
    color:#f97316;
}



/* ================= Button ================= */

.view-btn{

    border:none;
    padding:8px 22px;

    border-radius:25px;

    background:#fff;

    border:1px solid #bbb;

    cursor:pointer;

    transition:.3s;

}

.view-btn:hover{

    background:#620000;
    color:#fff;

}

/* ================= Responsive ================= */

@media(max-width:900px){

.sidebar{

    width:80px;

}

.sidebar span{

    display:none;

}

.content{

    margin-left:80px;
    width:calc(100% - 80px);

}

}
