/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Cairo';
    box-sizing: border-box;
}
:root {
  --color-primary:    #620000;
  --color-background: #EEEEEE;
  --color-card:       #FFFFFF;
  --color-baby-blue:  #87A7C8;
  --color-navy:       #05172F;
}
body{
    background-color: #EEEEEE;
}
